button{
    width: 100px;
    height: 50px;
    border: 2px solid red;
    background: white;
    color: red;
    border-radius: 10px;
    cursor: pointer;
}
button:active{
    color: white;
    background: red;
}