.CardItem{
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0px #000000;
    width: 25%;
    padding: 20px;
    position: relative;
}
.CardItem.editMovie{
    box-shadow: none;
}

.CardItem img{
    max-width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
}
.CardItem ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.CardItem ul li{
   padding: 5px 10px;
   background: coral;
   color: white;
   margin: 5px;
   border-radius: 5px;
}
.CardItem p{
    margin-top: 0;
    padding-top: 0;
}
.CardItem a h2{
    margin: 0;
    padding: 0;
}
.CardItem a{
    color:coral;
    text-decoration: none;
}
.CardItem a:active{
    color:#ffa17e;
}

.CardItem .Card__btn{
    position: absolute;
    top: 5px;
    right: 5px;
}