.App {
  text-align: center;
}

nav {
  padding: 20px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  list-style: none;
  gap: 20px;

}

nav ul li a {
  color: coral;
  font-weight: 700;
  text-decoration: none;
}

nav ul li a:active{
  color: #ffa17e;
}