.App {
  text-align: center;
}

nav {
  padding: 20px;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  list-style: none;
  gap: 20px;
  width: 50%;

}

nav ul li a {
  color: coral;
  font-weight: 700;
  text-decoration: none;
}

nav ul li a:active{
  color: #ffa17e;
}

nav .logo{
  width: 50%;
  text-align: left;
}
nav .logo img{
  height: 50px;
 
}